extends layout

block content
  .row
    .col-sm-12.col-lg-4
        h1 TEST CRUD  
        form
         .form-group
           label(for='name') Email address
           input#name.form-control(type='text', aria-describedby='nameHelp', placeholder='Enter Name', autocomplete="off")
           small#nameHelp.form-text.text-muted Enter your full name here
         button.btn.btn-primary Save
         
         P #{sample}
         table(id='testTable', class='table table-bordered')
          thead
            tr
              th Table Data
          tbody
            tr
              td No Data Available
         

         

         
block javascript
         script.
            $(document).ready(function() {    
                var jsonValue = sample;
                console.log(jsonValue);
                alert("Hello CodeProject!");
            });

